* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.product {
  border: 1px solid lightgray;
  padding: 10px;
}

.product__name {
  display: block;
  margin-left: 25px;
  margin-bottom: 10px;
}

.product__name::before {
  content: "";
  background-image: url(../images/icon__information.png);
  width: 25px;
  height: 25px;
  position: absolute;
  background-size: cover;
  left: 0;
  margin-left: 5px;
}

.product__add {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product__delete {
  background: url(../images/icon__minus.png) no-repeat;
  background-color: rgb(240, 240, 240);
  background-size: contain;
  min-width: 30px;
  min-height: 30px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.product__count {
  font-size: 20px;
}

.product__buy {
  background: url(../images/icon__buy.png) no-repeat;
  background-color: rgb(240, 240, 240);
  background-size: contain;
  min-width: 30px;
  min-height: 30px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.product__img {
  width: 100px;
}

.product__weight {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 3px;
}

.product__id {
  font-size: 10px;
}

.product__price {
  position: relative;
  top: 20px;
  color: green;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1050;
  opacity: 0;
  transition: opacity 200ms ease-in;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
}

.modal__dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

@media (min-width: 576px) {
  .modal__dialog {
    max-width: 500px;
    margin: 30px auto;
  }
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 0.3rem;
  outline: 0;
}

@media (min-width: 768px) {
  .modal__content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  }
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}

.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  text-decoration: none;
}

.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}

.modal__body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}

.modal__img {
  width: 100px;
}
